<html>
  <head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <% if(message!="Hola"&& message!= "Adios" && message!= "Bienvenido") {%>
    <%message="Mensaje no valido"%> <%}%>
    <!-- Imprimiendo el numero pasado por el enlace-->
    <% times= parseInt(times) %> <% for(let i=1;i<=times;i++){%>
    <!-- Imprimiendo el valor de i como elemento de lista -->
    <%= message %> <%= ID %> <br /><% } %>
  </body>
</html>
